{% extends 'base.html' %}

{% load static %}

{% block title %}Trânsito{% endblock title %}


{%block 'head'%} 
{% block additional_css %}
<link rel="stylesheet" href="{%static 'css/styles.css'%}">
<link rel="stylesheet" href="{%static 'css/transito.css'%}">
{%endblock%}
{% endblock %}


{% block content %}

<div class="col-md-9 col-lg-10 px-md-4 mt-3">
    {% block breadcrumbs %}
         {% include 'breadcrumbs.html' with breadcrumb_items=breadcrumb_items %}
    {% endblock %}
</div>
<div class="col-md-9 col-lg-10 px-md-4 title">
    <h2>Trânsito</h2>
<hr>
</div>

    <div id="Transito-Content" class="container">
        <div class="left-section">
            <div id="Mapa-transito">
                <a href="https://www.bing.com/maps/traffic?setlang=pt-br&FORM=ntptra&cvid=227799ae76844c02a4726b10e0a2ee9f&ocid=msedgdhp&cp=-15.79167%7E-47.886315&lvl=15.3&incidentid=40839274664017000&incidenttype=5&incidentloc=-15.796572%7E-47.877389&detectedloc=-15.761736869812012%7E-47.891693115234375&detectedlocacc=362.43304443359375&pc=U531&ei=45">
                    <img src="{% static 'assets/mapa-transito.png'%}" alt="Mapa de Trânsito">
                </a>
            </div>
            <p>INSIRA O LOCAL</p>
            <form action='/' method='post'>
                <input type='text' name='pesquisa' placeholder='Digite o id do semáforo'>
                <button type='submit'>Consultar</button>
            </form>
            <div class="buttons text-center col-md-12 mt-4">
                <button class="btn btn-primary btn-sm col-md-4 p-2"><a href="#">AO VIVO</a></button>
                <button class="btn btn-danger btn-sm col-md-4 p-2">GRAVAR</button>
            </div>
        </div>
        <div class="right-section">
            <div class="control-container">
                <h2>CONTROLE</h2>
                <button class="control-button highlight">TORNAR INTERMITENTE</button>
                <button class="control-button">PROGRAMAR EVENTOS</button>
            </div>
            <div class="report-container">
                <div class="chart">
                    <div style="height: 40%;"></div>
                    <div style="height: 60%;"></div>
                    <div style="height: 50%;"></div>
                    <div style="height: 70%;"></div>
                </div>
                <a href="{% url 'relatorio'%}" class="report-button">GERAR RELATÓRIO</a>
            </div>
        </div>
    </div>

{% endblock %}