.title {
    font-size: 2rem;
}

/* Estilo para o conteúdo principal à esquerda */
.main-content {
    flex: 2;
}

/* Estilo para o título */
.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

/* Estilo para a linha preta */
.linha-preta {
    border: 0;
    height: 2px;
    background: black;
    margin: 10px 20px;
}

/* Estilo para a tabela de eventos */
.tabela-eventos {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabela-eventos th, .tabela-eventos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-eventos th {
    background-color: #1a386d;
    color: white;
}

/* Estilo para linhas pares (striped) */
.tabela-eventos tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para linhas pares (striped) */
.tabela-eventos tr:nth-child(odd) {
    background-color: #ffffff;
}
.botao-principal {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para os títulos dos blocos */
.bloco-controle h3, .bloco-fluxo h3 {
    margin-top: 0;
}

/* Estilo para o formulário de cadastro de eventos */
.form-cadastro-eventos {
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botao-adicionar {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a386d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

