.title {
    font-size: calc(1rem + 0.5vw);
  }
  
  @media (min-width: 1200px) {
    .title {
        padding-top: 3em;
        width: 30rem;
        font-size: 2.5rem;
    }
  }

body {
    background: var(--cor-de-fundo-primaria); 
    height: 100vh;

}


/* Estilo para a barra de navegação */
.navbar {
    background: transparent; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
}

.navbar-brand {
    color: #ffffff; /* Cor do texto */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

/* Estilos para o botão menu quando tiver em telas menores */

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Cor da borda do botão */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.navbar-nav {
    margin-left: auto; /* Alinha itens à direita */
    align-items: center;
}

.nav-item {
    margin-left: 20px; /* Espaçamento entre itens */
}

.nav-link {
    color: var(--cor-fonte-primaria); /* Cor dos links */
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave ao mudar a cor */
}

.nav-link:hover, 
.navbar-brand:hover {
    color: var( --cor-hover-menu) /* Cor ao passar o mouse */
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--cor-hover-menu);
}

.form-control {
    width: 300px; /* Largura da barra de pesquisa */
    height: 35px;
    border-radius: 20px; /* Bordas arredondadas */
    padding: 5px 15px; /* Espaçamento interno */
    transition: width 0.3s; /* Transição suave ao focar */
}

.form-control:focus {
    width: 350px; /* Largura ao focar */
    outline: none; /* Remove outline padrão */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra ao focar */
}



/* Estilos do conteúdo princial */

.apresentacao__conteudo {
    color: var(--cor-fonte-primaria);
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.apresentacao__conteudo__texto {
    font-size: 1.2rem;
    text-align: justify;
    width: 28rem;
}

.apresentacao__link {
    display: flex;
    justify-content: center;
    width: 28rem;
 }
 

.botao-acessar {
    background-color: var(--cor-fonte-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: var(--cor-fonte-secundaria);
    border-radius: 60px;
    padding-right: 2px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    transition: transform 0.3s ease;

}

.botao-acessar:hover {
    transform: scale(1.1);
}

.apresentacao__imagem {
    width: 35rem;
}

.rodape {
    background-color: var(--cor-preta);
    font-family: var(--fonte-secundaria);
    color: var(--cor-branca);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.info {
    font-family: var(--fonte-primaria);
    font-size: 0.70rem;
}


@media screen and (max-width: 768px) {
    .apresentacao__imagem {
       display: none;
    }

    .apresentacao__link {
        padding-bottom: 10rem;
     }
    
     .form-control {
        display: none;
     }

     .navbar-nav {
        align-items: end;
     }

     .title {
        text-align: center;
        padding-top: 5em;
        font-size: 1.8rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.2rem;
        width: 27rem;
    }
  
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
    /* .apresentacao__imagem {
         width: 25rem;
     } */

     .form-control {
        display: none;
     }

     .navbar-nav {
        align-items: end;
     }

     /* .apresentacao__conteudo__titulo {
        padding-top: 3em;
        font-size: 1.5rem;
    }
     */
    .apresentacao__conteudo__texto {
        width: 20rem;
    }
    
    .apresentacao__link {
        width: 20rem;
     }
} 
